@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html {
font-family: 'Lato', sans-serif;
}
/* Верхняя чёрная шапка */
.header {
    background-color: #222;
}

.header-field {
    height: 75px;
}

.center {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.header-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}

.logos-left {
    gap: 41px;
    margin-top: 18px;
    margin-bottom: 19px;    
}

.left-logo-2  {
    margin-left: 41px;
}

.right-logo-2 {
    margin-left: 25px;
}

.right-logo-3 {
    margin-left: 42px;
}
/* Конец верхней чёрной шапки */
/* Розовое поле */
.pink-field {
    background-color:#F1E4E6;
}

.pink-field_content {
    display: flex;
    align-items: center;
}

.orange-rectangle {
    margin-left: 64px;
    width: 12px;
}

.title {
    display: grid;
    margin-left: 16px;
}

.title-h1 {
    display: inline;
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.text-h2 {
    display: flex;
    align-items: center;
}

.title-h2_black {

    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.title-h2_orange {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}
/* Конец розового поля */
/* Секция: для жен/муж/дет/акксесуары */

.services {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.services-item {
    margin-top: 65px;
    display: flex;
    flex-direction: column;

}

.big {
    grid-column: 1/4;

}

.text {

}

.p-white {

}

.h2-orange {

}
